:root {
    --green: #44cc44;
    --blue: #3344cc;
    --yellow: #dddd33;
    --red: #cc4444;
}

body {
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

header h1 {
    text-align: center;
    font-size: 3em;
    color: #555;
}

header h1::first-letter {
    font-size: 1.5em;
}

main {
    background: #ddd;
    max-width: 830px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    border-radius: 10px;
}

#operation_picker {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

svg {
    height: 80px;
    width: 80px;
    border-width: calc(80px * 0.15); /* can't specify 15% as border-width */
    stroke-width: 15%;
    border-radius: 50%;
    stroke-linecap: round;
    border-style: solid;
    background: #fff;
    cursor: pointer;
}
svg circle {
    r: 7.5% /* half 15% */
}
.add {
    stroke: var(--green);
    color: var(--green);
}
.subtract {
    stroke: var(--blue);
    color: var(--blue);
}
.multiply {
    stroke: var(--yellow);
    color: var(--yellow);
}
.divide {
    stroke: var(--red);
    color: var(--red);           
}
.divide circle {
    stroke: none;
    fill: var(--red);
}

#operation_picker input {
    display: none;
}

label {
    opacity: 0.7;
    width: 120px;
    height: 120px;
    display: inline-block;
    text-align: center;
}

input:checked+label{
    opacity: 1;
}

#question {
    text-align: center;
    padding: 1em;
    width: max-content;
    margin: 0 auto;
    border: 12px solid var(--green);
    border-radius: 40px;
    background-color: #fff;
}

input[type=number] {
    appearance: textfield;
    width: 2.5em;
    padding: .2em;
    text-align: center;
    font-size: 1.5rem;
    vertical-align: middle;
    border-radius: 9px;
    background-color: #ddd;
    border: 2px solid rgba(0,0,0,.3);
}

input[type=number]:disabled {
    color: inherit;
    background: transparent;
    border: 0;
}

#equals, #operator {
    font-size: 1.6em;
    padding: 0.5rem 0;
    vertical-align: middle;
    font-weight: bold;
}

#submitDiv {
    margin-top: 1rem;
}

#submitDiv button {
    background-color: var(--green);
    border: 0;
    padding: .5rem 1rem;
    color: #fff;
    text-shadow: 1px 1px 0 #000;
    border-radius: 9px;
    font-size: 1.2rem;
    font-weight: bold;
}